body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.imgg{
    text-align: center;
    margin-bottom: 20px;
}
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table th,
  table td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  table th {
    background-color: #f1f1f1;
    text-align: left;
  }

  .total {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
  }

  .section-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .checkout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #b5313a;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
  }