* {
    padding: 0;
    margin: 0;
}



.header-slide-text {
    background-color: #503629;
    padding: 6px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-negative {
    padding: 10px;
    background-color: #b5313a;

}

.header-negative ul {
    list-style: none;
    display: grid;
    grid-template-columns: 18% auto 15%;
    max-width: 1200px;
    margin: auto;

    gap: 150px;
    align-items: center;
}

.header-negative-user {
    display: flex;
}

.header-negative-user a {
    font-size: 30px;
    color: white;
    padding: 0 16px;
    border-left: 2px solid #bd464e;
    text-align: center;
    text-decoration: none;
}

.header-negative-user p {
    font-size: 14px;
    color: white;

}

.header-negative-search-input {
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    margin-right: -10px;
    border: 1px solid white;
}

.header-negative-search-btn {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid white;
}

.header-menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 10px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 8px;
    justify-content: center;
}

.header-menu ul li a {
    text-decoration: none;
    color: #b5313a;
    font-weight: bold;
}

.header-banner {
    max-width: 1200px;
    margin: 0 auto;
}

.header-banner-img {
    width: 100%;
}




/* footer */
.footer {
    display: grid;
    grid-template-columns: 20% auto auto;
    gap: 30px;
}