.control ul {
    list-style: none;
}

.text-inside-doughnut {
    bottom: 135px;
    left: 188px;
}

.item__hover:hover {
    background-color: #503629 !important;
    color: white;
    padding: 2px;
    border: 1px solid #503629;
    border-radius: 2px;
}